header {
  display: flex;
  justify-content: center;
}
.article {
  margin: 8px;
  padding: 16px;
  background-color: bisque;
  flex: 1 5 300px;
}
.articles-list {
  display: inline-flex;
  flex-wrap: wrap;
  min-height: 100vh;
}
