header {
  display: flex;
  justify-content: center;
}
.article {
  box-sizing: border-box;
  margin: 8px;
  padding: 16px;
  background-color: bisque;
  flex: 1 5 300px;
}
.articles-list {
  display: flex;
  flex-wrap: wrap;
}
