* {
  box-sizing: border-box;
}
.table {
  margin: 16px;
  text-align: center;
}
.table,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
tfoot > tr > td,
thead > tr > td {
  border: none;
}
tr,
td {
  width: 50px;
  height: 50px;
}

.table-row:last-child .table-cell,
.table-cell:last-child,
.table-row:first-child .table-cell,
.table-row .table-cell:first-child {
  border: none;
  background-color: #fff !important;
}

.table-row:nth-child(odd) .table-cell:nth-child(even),
.table-row:nth-child(even) .table-cell:nth-child(odd) {
  background-color: black;
}
