* {
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555;
  font-size: 16px;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(60deg, red, orange);
  color: white;
}
.main {
  flex: 1 0 auto;
  display: flex;
}
.navigation {
  width: 20%;
  padding: 0.5em;
}
.nav-list {
  padding: 0;
}
.nav-list-item {
  padding: 0;
  list-style-type: none;
  background-color: #808080;
  line-height: 2em;
  margin-bottom: 0.5em;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nav-list-link {
  min-width: 100vw;
  padding: 0 0.5em;
  text-decoration: none;
  color: white;
}
.section {
  font-size: 1.25em;
  width: 60%;
  padding: 0.5em;
}
.section__header {
  text-align: center;
  font-size: calc(100vw / 100 * 5);
}
.units-list {
  line-height: 1.75em;
}
.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}
.news {
  width: 20%;
  padding: 0.5em;
}
.footer {
  background-color: #e5e5e5;
  padding: 0.5em;
  width: 100vw;
  text-align: center;
  margin: 0 0 auto;
}
