* {
  box-sizing: border-box;
}
.image-container img {
  display: block;
  margin: 50px auto;
  max-width: 100vh;
  border-radius: 20px;
}
.gallery {
  display: flex;
}
.card {
  text-align: center;
  text-transform: lowercase;
  margin: 16px;
  box-shadow: 0px 7px 18px -8px rgba(0, 0, 0, 0.75);
}
.opacity-filter {
  filter: opacity(50%);
}
.blur-filter {
  filter: blur(4px);
}
.invert-filter {
  filter: invert(100%);
}
figcaption {
  line-height: 30px;
}
