body {
  box-sizing: border-box;
}
div {
  display: flex;
  cursor: all-scroll;
}

.articles div {
  height: 100px;
  width: 150px;
  background-color: beige;
  margin: 16px;
}
.cropped {
  overflow: hidden;
}
.both-scrolls {
  overflow: scroll;
}
.vertical-scroll {
  overflow: auto;
}
